*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Makasar', serif;
    font-family: 'Poppins', sans-serif;

}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CBAB81;
    color: white;
    padding: 10px;
  }
  
  .navbar-top div {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  .navbar-top img {
    margin-right: 10px;
  }
  
  .navbar-top p {
    margin: 0;
    white-space: nowrap;
  }

  .navbar-mid {
    width: auto;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
  }
  
  .logo {
    color: #00C9C4;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
  }


  .search{
    width: 565px;
    height: 41px;
    border-radius: 50px;
    border: 1px solid #FF4C11;
  }

  .notifications {
    position: relative;
    display: inline-block;
    padding-right: 30px;
  }

  .bag-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .notifications-overlay {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: #f00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
  }
  
  .notifications-overlay span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
  }
  
  .navbar-mid div {
    display: flex;
    align-items: center;
  }
  
  .navbar-mid input {
    width: 565px;
    height: 41px;
    flex-shrink: 0;
    padding: 5px 5px 5px 25px;
  }
  
  .navbar-mid div p {
    margin: 0 10px;
  }
  .search-icon{
    position: relative;
    right: 72px;
    width: 59px;
    height: 49px;
    padding-left: 10px;
    border-radius: 0px 50px 50px 0px;
    border: 1px solid #FF4C11;
    background: #FF4C11;
  }

  .search-icon img{
    position: relative;
    left: 10px;
  }

  .navbar-mid{
    position: relative;
  }
  
  .login{
    padding-right: 40px;
  }

#navbar-category{
  height: 50px;
  box-shadow: none;
}

.nav-item {
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.main-section-1 {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
}

.section-1 {
  width: 720px;
  height: 446px;
  background: radial-gradient(380.35% 98.58% at 25.76% 38.96%, #E5E5E5 0%, #C0C0C0 100%);
  padding: 20px;
}

.section-2 {
  flex: 1;
  height: 489px;
  width: 820px;
  display: flex;
  align-items: center;
  position: relative;
}

.section-2-background {
  position: relative;
}

.section-2-background img {
  width: 100%;
  height: 100%;
}

.section-2-images {
  position: absolute;
  bottom: 5px;
  left: 40px;
}

.section-1{
  padding-left: 120px;
}

.section-1 button{
  color: #FF4C11;
  font-size: 15px;
  font-weight: 700;
  width: 139px;
  height: 50px;
  border-radius: 40px;
  background: #FFF;
  border: none;
}

.services {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.service-frame{
  position: relative;
  bottom: 80px;
  left: 340px;
  z-index: 3;
}

.service-img {
  position: absolute;
  z-index: 4;
  margin-left: 400px;
  margin-top: -185px;
}

.service-frame img{
  width: 124px;
  height: 124px;
}

#service-img1{
  position: relative;
  top: 10px;
}

#service-img2{
  position: relative;
  left: 20px;
  top: 8px;
}

#service-img3{
  position: relative;
  left: 30px;
}

#service-img4{
  position: relative;
  left: 10px;
  top: 10px
}

.service-text{
  position: relative;
  bottom: 60px;
  left: 340px;
}

.main-section-text h3 {
  width: 520px;
  color: #252525;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
  padding-top: 80px;
}

.main-section-text p {
  width: 359px;
  color: #303030;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  padding: 20px 0;
}

.aside-flap {
  position: absolute;
  top: 150px;
  left: 1260px;
  width: 254px;
  height: 275px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  z-index: 2;
  padding: 20px;
}

.navbar-mid,
.main-section-1 {
  position: relative;
  z-index: 1;
}

.aside-images {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.aside-images img {
  width: 28px;
  height: 36px;
}

.aside-images p {
  color: #252525;
  font-size: 14px;
  font-weight: 400;
}

.product-quantity {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin: 0 5px;
}

.icon-container p{
  font-size: 16px;
  font-weight: 600;
}

#aside-last-img{
  border: none;
}

.continue-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-continue{
  width: 115px;
  height: 35px;
  border-radius: 40px;
  background: #FFAC01;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  color: #FFF;
}

.product-price p{
  color: #252525;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}

.main-section-2 {
  text-align: center;
  margin: 20px;
}

.main-section-2 h2 {
  position: relative;
  display: inline-block;
  color: #252525;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

.main-section-2 h2::after {
  content: "";
  margin-left: 30px;
  position: absolute;
  top: 50%;
  width: 473px;
  height: 2px;
  background-color: #FF4C11;
}

.main-section-2 h2::before {
  content: "";
  right: 0;
  margin-right: 210px;
  position: absolute;
  top: 50%;
  width: 473px;
  height: 2px;
  background-color: #FF4C11;
}

.main-section-2 p{
  color: #5A5A5A;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 50px;
}

.sale-products {
  width: 224px;
  height: 406px;
  border: 1px solid rgba(209, 209, 209, 0.65);
  background: #FFF;
  display: inline-block;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.sale-products img {
  width: 138px;
  height: 150px;
  display: block;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sale-products p {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
}

.sale-products h4 {
  color: #252525;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 70px;
}

.sale-products button {
  background: #FFAC01;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

.main-section-2 > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#sale-prod-quantity{
  position: relative;
  bottom: 50px;
}

.popular-cat {
  text-align: center;
  margin: 20px;
  padding-top: 80px;
}

.popular-cat h2 {
  position: relative;
  display: inline-block;
  color: #252525;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

.popular-cat h2::after {
  content: "";
  margin-left: 45px;
  position: absolute;
  top: 50%;
  width: 332.5px;
  height: 2px;
  background-color: #FF4C11;
}

.popular-cat h2::before {
  content: "";
  right: 0;
  margin-right: 500px;
  position: absolute;
  top: 50%;
  width: 332.5px;
  height: 2px;
  background-color: #FF4C11;
}

.popular-cat p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.popular-cat-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.popular-cat-text{
  position: absolute;
  z-index: 2;
  left: 250px;
  margin-top: 40px;
  font-size: 25px;
  font-weight: 700;
}

#popular-cat-text{
  margin-left: 50px;
}

.popular-cat-text button{
  color: #FF4C11;
  font-size: 13px;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.popular-cat-section > div {
  position: relative;
  width: 250px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.popular-cat-images {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 10px;
}

.popular-cat-images img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

/* Card 1 */
.popular-cat-section > div:nth-child(1) {
  background-image: radial-gradient(415.22% 115.89% at 22.80% 50.00%, #FFD401 0%, #FFAC01 100%),
    url('assets/plastic-bag-foil-pouch-bag-packaging-package-branding-identity_1150-41196 2.png');
    width: 590px;
    height: 242px;
    left: 130px;
}

/* Card 2 */
.popular-cat-section > div:nth-child(3) {
  background-image: radial-gradient(415.22% 115.89% at 22.80% 50.00%, #DFDFDF 0%, #C0C0C0 100%),
    url('assets/plastic-bag-foil-pouch-bag-packaging-package-branding-identity_1150-41196 1.png');
    width: 590px;
    height: 242px;
    right: 150px;
}

/* Card 3 */
.popular-cat-section > div:nth-child(5) {
  background-image: radial-gradient(415.22% 115.89% at 22.80% 50.00%, #EADDD2 0%, #C99B73 100%),
    url('assets/vegan-food-mock-up-packaging-arrangement_23-2149120444 (1).png');
    width: 590px;
    height: 242px;
    right: 350px;
}

/* Card 4 */
.popular-cat-section > div:nth-child(7) {
  background-image: radial-gradient(415.22% 115.89% at 22.80% 50.00%, #5DF1ED 0%, #02C9C4 100%),
    url('assets/vegan-food-mock-up-packaging-arrangement_23-21491204441.png');
    width: 590px;
    height: 242px;
    bottom: 312px;
    left: 330px;
}

#popular-cat-img-st{
  width: 117px;
  height: 152px;
  position: relative;
  left: 60px;
  top: 20px;
}

#popular-cat-img-rn{
  width: 200px;
  height: 253px;
  position: relative;
  left: 20px;
  top: 20px;
}

#popular-cat-text0{
  left: 155px;
  bottom: 20px;
}

#popular-cat-text1{
  left: -45px;
  bottom: 20px;
}

#popular-cat-text2{
  left: -320px;
  bottom: 20px;
}

.gallery-section {
  position: relative;
  /* Add any other styles for the section if needed */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  /* Add any other styles for the background image if needed */
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  z-index: -1; /* Place the background image behind other content */
}

.overlay-content {
  position: relative;
  text-align: center;
  width: 828px;
  font-size: 45px;
  font-weight: 500;
  left: 500px;
  /* Add any other styles for the overlay content if needed */
}

#overlay-content-para{
  width: 429px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  left: 200px;
}

.overlay-content button{
  background: #FF4C11;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  /* Add any other styles for the image container if needed */
}

.image-container1 img {
  width: 152.423px;
  height: 171.882px;
  /* Add any other styles for the images if needed */
}

#img1{
  position: relative;
  left: -200px;
  top: -100px;
  width: 200px;
  height: 200px;
}

#img2{
  position: relative;
  left: -230px;
  top: 40px;
  width: 125px;
  height: 174px;
}

#img3{
  position: relative;
  left: -160px;
  top: 50px;
  width: 97px;
  height: 123px;
}

#img4{
  position: relative;
  left: -100px;
  top: 60px;
  width: 134px;
  height: 131px;
}

#img5{
  position: relative;
  left: -60px;
  top: 60px;
  width: 161px;
  height: 150px;
}

#img6{
  position: relative;
  left: 380px;
  top: -280px;
  width: 200px;
  height: 200px;
}

.goal-section{
  padding: 40px;
}

.goal-text h1{
  position: relative;
  display: inline-block;
  color: #252525;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

.goal-section h1::after {
  content: "";
  margin-left: 45px;
  position: absolute;
  top: 50%;
  width: 450px;
  height: 2px;
  background-color: #FF4C11;
}

.goal-text p{
  font-size: 20px;
  font-weight: 400;
  width: 670px;
  height: 212px;
}

.goal-section button{
  background: #FF4C11;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
}

.goal-img{
  position: relative;
  left: 1000px;
  bottom: 400px;
  border: 1px white;
}

.goal-img img{
  border-radius: 500px;
}

#goal-smaller-img{
  position: relative;
  right: 500px;
  top: 50px;
  border: 10px solid white;
}

.newsletter-section{
  padding: 30px;
  margin-left: 100px;
  background: linear-gradient(rgba(2, 201, 196, 0.7), rgba(2, 201, 196, 0.7)), url(assets/pattern_japanese-pattern-3_1_2_0-0_0_1__ffffff_805ad5\ 1.png);
  width: 1440px;
  height: 350px;
  margin-bottom: 50px;
}

.newsletter-text h2{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.newsletter-text p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.newsletter-susbcribe{
  text-align: center;
}

.newsletter-susbcribe input{
  width: 753px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 40px;
  border: none;
  margin-top: 50px;
  padding-left: 30px;
}

.newsletter-susbcribe button{
  background: #FF4C11;
  width: 158px;
  height: 60px;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
  position: relative;
  right: 140px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-list-head {
  flex: 1;
  margin: 10px;
  width: 500px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 5px;
}

.li-head{
  font-size: 15px;
  font-weight: 600;
}

.footer-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.copyright{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.footer-list-head h1{
  margin-left: 70px;
}

.footer-list-head img{
  padding-left: 95px;
  padding-top: 40px;
}